.done {
	text-decoration: line-through;
	color: #ccc;
}

.main {
	background: lightyellow; 
	margin-left: 20%;
	margin-right: 20%;
	width: 60%;
	height: auto;
	border: 1px solid black;
	margin-top: 2%;
	border-radius: 25px;
}

html { 
  background: url(yellow.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}